/* mochiy-pop-one-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/mochiy-pop-one-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    background-color: #F3F3E0;
}

* {
    font-family: 'Mochiy Pop One', sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
}

body {
    margin: 0px;
    height: 1vh;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
}

a {
    text-decoration: none;
    color: #DDA853;
}

header {
    display: flex;
    justify-content: center;
    background-color: #27548A;
}

#content {
    padding-left: 10vw;
    padding-right: 10vw;

}

#title img {
    height: 50%;
    width: auto;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    height: 100px;
    gap: 30px;
}

#contact-card {
    display: grid;
    grid-template-columns: 150px 1fr;
    column-gap: 20px;
    margin-bottom: 30px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#contact-card>* {
    margin: 0px;
}

#contact-card h3 {
    align-self: self-end;
}

.contact-image img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.contact-image {
    height: 150px;
    width: 150px;
    grid-row: 1 / 5;
}

.phone {
    align-self: self-end;
}

#menu-card {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 60px 1fr;
    column-gap: 20px;
    margin-bottom: 15px;
}

.dish-image {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    border: solid 3px black;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 3;
}

#menu-card p {
    grid-column: 2 / 4;
}

.price {
    text-align: end;
}

footer {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 10px;
    background-color: #183B4E;
    height: 30px;
    align-items: center;
}

button {
    background-color: #DDA853;
}
nav {
    align-self: center;
}